.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  background-color: #f8f9fa;
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.nav-link.active {
  font-weight: bold;
  color: #007bff !important;
}

main {
  margin-top: 20px;
}

.navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 0.7);
}

.offcanvas-body .nav-link {
  font-size: 1.2rem;
}